#heading
{
font-family: fantasy;
font-weight: bolder;
color: black;
 }

 .adress_input
 {
        width:300px;
        background-color: lightgreen;
        text-align: center;
        color:black;
        border:2px greenyellow solid;
        font-weight:bold;
        border-radius: 30px;
 }

 body
{
    background-size: cover;
}

p
{
    font-weight: bold;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes  example {
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px green;}
}
